#contact-top-area {
  margin: 30px 2% 0; }
  #contact-top-area div, #contact-top-area a {
    border-radius: 8px !important; }
  #contact-top-area .contact-button {
    box-shadow: 0 5px 8px !important; }

.contact-two-papers {
  display: inline-flex;
  margin: 10px 5% 30px; }
  .contact-two-papers div {
    width: 100%; }

.contact-button {
  display: flex !important;
  width: 92% !important;
  margin: 15px 4%; }
  .contact-button svg {
    position: relative;
    bottom: 2px;
    left: 2px;
    margin-left: 0 !important; }

#contact-left-area {
  width: 90%;
  height: auto; }

#contact-right-area {
  display: none !important; }

#skills-area {
  width: 96%;
  padding: 0 2%; }
  #skills-area h3, #skills-area h4 {
    margin: 15px 10px; }

.chip-container {
  padding: 0 0 10px; }

.chips {
  display: inline-flex !important;
  margin: 0 5px 10px !important;
  width: auto !important; }

#people-papers {
  display: none; }

@media all and (min-width: 480px) {
  #people-papers {
    display: block;
    margin: 30px 2% 0;
    width: 96%;
    text-align: center; }
  .people-paper {
    display: inline-flex;
    margin: 15px;
    width: 200px;
    height: auto;
    border-radius: 10px !important; }
    .people-paper div {
      width: 100%; }
    .people-paper img {
      background-color: #328CC1 !important;
      margin: 20px 15px; }
    .people-paper h3, .people-paper p {
      margin: 0 15px 20px; } }

@media all and (min-width: 634px) {
  #contact-content .app-header {
    height: 230px; }
  #contact-top-area {
    display: none; }
  .contact-two-papers {
    margin: 30px 2%; }
  .contact-button svg {
    margin-left: 12px !important; }
  #contact-left-area {
    width: 55%; }
  #contact-right-area {
    display: inline-flex !important;
    width: 37%;
    height: auto; }
    #contact-right-area h3, #contact-right-area h4 {
      margin: 15px 4%; } }
