.drawer-item {
    text-align: center;
    text-decoration: none;
}

.navbar {
    background-color: #006097 !important;

    h1 {
        text-align: left;
    }
}

.navIcons {
    svg, button {
        color: #FFFFFF !important;
    }

    button {
        svg {
            fill: #FFFFFF !important;
        }
    }
}

#navbarFull {
    display: none !important;
}

#navbarShort {
    display: flex !important;
}

span[role=menuitem] {
    svg {
        position: relative;
        top: 5px;
        margin: 0 5px;
    }
}

@media all and (min-width: 700px) {
    #navbarFull {
        display: flex !important;
    }

    #navbarShort {
        display: none !important;
    }
}
