.drawer-item {
  text-align: center;
  text-decoration: none; }

.navbar {
  background-color: #006097 !important; }
  .navbar h1 {
    text-align: left; }

.navIcons svg, .navIcons button {
  color: #FFFFFF !important; }

.navIcons button svg {
  fill: #FFFFFF !important; }

#navbarFull {
  display: none !important; }

#drawer, #navbarShort {
  display: flex !important; }

span[role=menuitem] svg {
  position: relative;
  top: 5px;
  margin: 0 5px; }

#clock-nav-full, #clock-nav-short {
  display: none !important; }

@media all and (min-width: 380px) {
  #clock-nav-short {
    display: inline-block !important; } }

@media all and (min-width: 700px) {
  #navbarFull {
    display: flex !important; }
  #drawer, #navbarShort {
    display: none !important; } }

@media all and (min-width: 810px) {
  #clock-nav-full {
    display: inline-block !important; } }
