.App-header {
  background-color: #328CC1 !important;
  height: 250px;
  padding: 20px;
  color: #FFFFFF !important;
  text-align: center;
  border-radius: 0 !important; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@media all and (min-width: 515px) {
  .App-header {
    height: 230px; } }
